* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root {
    --vert: #4f805d;
    --vertclair: #8bb092;
    --gris: #ddd;
    --blanc: #fff;
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}
img {
    vertical-align: bottom;
    /*width: 100%;*/
}

body {
    background-color: var(--vertclair);
}

.wrap {
    width:100%;max-width: 1000px; margin: 0 auto;
}
#infos {
    background-color: gainsboro;
    padding: 2rem;
}
#boite {
    width:200px; height:200px;
    background-color: green;
    color:#fff;
    font-size: 4rem;
    position: absolute; top:0; left:0;
    transition: left 5s, top 2s, color 10s;
    transition-timing-function: cubic-bezier(.42,-0.77,.54,1.68);
}
#boite.open {
    left: 600px;top:300px;
    background-color: purple;
}
