* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wrap {
    max-width: 1000px;width:100%;margin: 0 auto;
}
img {
    width: 100%;
}
#films {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
#films .movie {
    width: 24%;
}