* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root {
    --vert: #4f805d;
    --vertclai: #8bb092;
    --gris: #ddd;
    --blanc: #fff;
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}
img {
    vertical-align: bottom;
    width: 100%;
}
ul, ol {
    list-style: none;
}

/* font-family: 'Libre Baskerville', serif;
font-family: 'Quicksand', sans-serif; */
body {
    background-color: var(--gris);
    color:#000;
    font: 400 16px/1.4 'Quicksand', sans-serif;
}

.bigwrap {max-width: 1600px; width:100%;margin: 0 auto;}
.wrap {max-width: 1300px; width:100%;margin: 0 auto;}
.wrap2 {max-width: 1200px; width:100%;margin: 0 auto;}
.wrap3 {max-width: 500px; width:100%;margin: 0 auto;}

#masthead {
    background-color: var(--vert);
    position: fixed;
    width: 100%;
    padding: .6rem;
}
#masthead .bigwrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#masthead .logo {
    font-family: 'Libre Baskerville', serif;
    font-size: 1.9rem;
}
#masthead nav ul {
    display: flex;
    gap:1rem;
}




#intro {}
#component {}
#learn {}
#partenaire {}
#testimonial {}
#contact {}
#colophon {}
