* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root {
    --vert: #4f805d;
    --vertclair: #8bb092;
    --gris: #ddd;
    --blanc: #fff;
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}
img {
    vertical-align: bottom;
    width: 100%;
}
ul, ol {
    list-style: none;
}
.shadow {
    -webkit-box-shadow: 0 10px 6px -6px var(--vertclair);
    -moz-box-shadow: 0 10px 6px -6px var(--vertclair);
    box-shadow: 0 10px 6px -6px var(--vertclair);
}
body {
    background-color: var(--gris);
    color:#000;
    font: 400 16px/1.4 'Quicksand', sans-serif;
}

.bigwrap {max-width: 1600px; width:100%;margin: 0 auto;}
.wrap {max-width: 1332px; width:100%;margin: 0 auto;padding: 0 1rem;}
.wrap2 {max-width: 1200px; width:100%;margin: 0 auto;}
.wrap3 {max-width: 500px; width:100%;margin: 0 auto;}

#masthead {
    background-color: var(--vert);
    position: fixed;
    width: 100%;
    padding: .6rem;

}
#masthead .bigwrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#masthead .logo {
    font-family: 'Libre Baskerville', serif;
    font-size: 1.9rem;
    color: var(--blanc);
}
#masthead nav ul {
    display: flex;
    gap:1rem;
}
#masthead nav ul a {
    color: var(--blanc);
    transition: color .5s;
}
#masthead nav ul a:hover {
    color: #000;
}
#intro {
    height: 100vh;
    background: url('https://picsum.photos/id/38/1200/500') no-repeat center center/cover;
    display: flex;
}
#intro > div {
    margin: auto;
    text-align: center;
    font-size: 1.4rem;
    padding: 1rem;
    max-width: 600px;
}
#intro strong {
    font-family: 'Libre Baskerville', serif;
    font-size: 1.4rem;
}
#component {
    margin: 6rem 0;
}
#component h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}
#component ul.boxs{
    display: flex;
    justify-content: space-between;
}
#component ul.boxs li {
    width: 31.5%;
    background-color: var(--blanc);
}
#component .bloc_text {
    padding: 2rem 1rem;
}
#component .bloc_text h3{
    text-align: center;
    font-size: 1.6rem;
    font-weight: bold;
}
#component .bloc_text .separator{
    background-color: var(--vert);
    height: 3px;
    width: 100px;
    margin: 1rem auto;
}
#component .bloc_text p{
    text-align: justify;
}
#learn {
    background-color: var(--blanc);
}
#learn .bigwrap {
    display: flex;
}
#learn .bigwrap > div {
    width:50%;
}
#learn .learn_text {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#learn .learn_text h2 {
    font-size: 2rem;
}
#learn .learn_text img {
    width: 30%;
    margin: 1rem 0;
}

#partenaire {margin: 4rem 0;}
#partenaire .all_partners{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    text-align: center;
    font-size: 1.3rem;font-weight: 700;
}
#partenaire .all_partners .shadow {
    width: 23%;
    background-color: var(--blanc);
}
#partenaire .all_partners i {
    font-size: 3rem;
    color: var(--vert);
    margin: 1rem 0;

}



#testimonial {}
#contact {}
#colophon {}
