* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root {
    --white: #fff;
    --gris: #9d9d9c;
    --orange: #ec6838;
}
a {
    text-decoration: none;
}
img {
    vertical-align: bottom;
    width: 100%;
}
ul, ol {
    list-style: none;
}

.shadow {
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.flex {
    display:flex;
}
.font30 {
    font-size: 3rem;
}
.orange {
    color: var(--orange);
}

body {
    background-color: var(--white);
    color: var(--gris);
    font: 400 16px/1.7 'Raleway', sans-serif;
}

.wrap {
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
    padding: 0 1rem;
}
.wrap2 {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
}

/* header */
#masthead {
    display: flex;
    justify-content: center;
    padding: 1rem 0;
}
#masthead img {
    width:350px;
}
/* intro home */
#intro {
    margin: 2rem 0;
}
#intro .wrap{
    display: flex;
    gap:3rem;
}
#intro .wrap .box {
    width:50%;
}
#intro .wrap .box_text {
    padding-top: 4rem;
}
/* partners */
#partners {}
#partners .wrap {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
#partners .one_partener {
    width: 24%;
    margin-bottom: 2rem;
}
#partners .one_partener__img {
    position: relative;
    margin-bottom: .6rem;
}
#partners .one_partener__img img{
    transition: filter 1s, transform 2s;
}
#partners .one_partener__img img:hover {
    filter: grayscale(70%);
    transform: rotate(2deg);
}
#partners .lecteur {
    background: url('../img/player1.png');
    background-size: 42px 42px;
    width:42px;
    height:42px;
    position: absolute;
    top:1rem;left:1rem;
}
#partners h2 {
    font-size: 1.3rem;
    color: #000;
    font-weight: 300;
}
#partners h3 {
    font-weight: 700;
    color: var(--orange);
}

.orange_box {
    background-color: var(--orange);
    height:130px;
}
/* single.html */
#info {
    margin: 3rem 0;

}
#info .wrap {
    display: flex;
    justify-content: space-between;
}
#info .info_left {
    width: 25%;
    color:#000;
    font-size: 1.3rem;
}
#info .info_left .logo_entre {
    width: 30%;
    display: block;
    margin: 0 auto 3rem auto;
}
#info .info_left h1 {
    color: var(--orange);
    font-size: 2.6rem;
}
#info .info_right {
    width: 72%;
}
#info .info_right  h2 {
    color: var(--orange);
    font-weight: 700;
    font-size: 2.4rem;
    margin-bottom: 2rem;
}
/* Video */
#video {
    margin-bottom: 3rem;
}
#video .wrap2 {
    position: relative;
}
#video .lecteur {
    background: url('../img/player1.png') no-repeat;
    height: 60px;width: 60px;
    background-size: 60px 60px;
    position: absolute;
    top:2rem;left:2rem;
}





/* Responsive - media query */
@media screen and (max-width: 950px) {
    #intro .wrap{
        flex-direction: column;
        gap:1rem;
    }
    #intro .wrap .box {
        width:100%;
    }
    #intro .wrap .box_text {
        padding-top: 0;
    }
    #partners .one_partener {
        width: 32%;
    }

    #info .wrap {
        flex-direction: column;
    }
    #info .info_left, #info .info_right  {
        width: 100%;
    }
}

@media screen and (max-width: 750px) {
    #partners .one_partener {
        width: 48%;
    }
}

@media screen and (max-width: 520px) {
    #partners .one_partener {
        width: 100%;
    }
}




