* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
ul, ol {
    list-style: none;
}
body {
    background-color: cornflowerblue;
    font: 400 18px/1.4 Verdana, Arial, sans-serif;
}

.wrap {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
    /*background-color: darkgrey;*/
}
#masthead {
    background-color: tomato;
}
#masthead .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}
#masthead nav ul {
    display: flex;
    gap:1rem;
}
#masthead nav ul {
    padding-right: 1rem;
}
#masthead nav ul li a {
    color:#fff;
    text-decoration: none;
    transition: all .5s;
}
#masthead nav ul li a:hover {
    color:blue;
}