* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
ul, ol {
    list-style: none;
}

/*html {*/
/*    font-size: 62.5%;*/
/*}*/

body {
    background-color: aquamarine;
    /*font-family: Verdana, Arial, sans-serif;*/
    /*font-weight: 400;*/
    /*font-size: 14px;*/
    /*line-height: 1.4;*/
    font: 400 14px/1.4 Verdana, Arial, sans-serif;
}
/* Selection par balise */
div section p span {

}
/* Selection par class */
p.font30 {
    color:lime;
    font-size: 30px;
}
p.colorred {
    color:red;
}
/* Selection par id */
#blog h1 {
    color: chartreuse;
}
#blog p.cla2.cla1.cla3 {
    font-weight: bold;
}
/* Selection par attribut */
input[type=text] {
    background-color: orangered;
}
input[type=submit] {
    background-color: green;
    color:white;
    border:none;
}
/* Sélecteur de voisin direct */
#selectorplus ul + p {
    color: lime;
    font-size: 50px;
}
/* Sélecteur vague */
#selectorvague p ~ span {
    background-color: magenta;
}
/* Sélecteur enfant direct */
#container > ul {
    border: 1px solid black;
}

#child p:first-child{
    color: pink;
}
#child p:last-child {
    color: tomato;
}
#child p:nth-child(2), #child p:nth-child(5) {
    color: lime;
}
#child p:nth-child(3n + 1) {
    font-size: 30px;
}

/* block inline */
#block {
    background-color: blue;
}
#block p {
    background-color: lime;
    display: inline;
}
#block a {
    background-color: darkgoldenrod;
    display: inline-block;
}

#navigation ul {
    text-align: center;
}
#navigation ul li  {
    display: inline-block;
}
