* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul, ol {
    list-style: none;
}
body {
    background-color: gainsboro;
    overflow-x: hidden;
}
.wrap {max-width: 1000px;width:100%;margin: 0 auto;}
#masthead {
    background-color: #79C1C8 ;
    padding: 1rem 0;
}
#masthead .logo img {
    width:220px;
}
#masthead .wrap {
    display: flex;justify-content: space-between;align-items: center;
    padding: 0 1rem;
}
#masthead nav ul {
    display: flex;align-items:center;gap:2rem
}
#masthead nav ul a {
    color:#fff;
    text-decoration: none;
    font-size: 1.8rem;
}

#masthead nav svg {
    width: 40px;
    cursor:pointer;
}
#masthead nav svg path {
    fill: #fff;
}

#menu_burger {
    display:none;
    z-index:11;
    background-color: #4f805d;
    position: absolute;
    top:0;right:-200px;
    padding: 4rem 1rem 1rem 1rem;
    transition: right 1s cubic-bezier(.67,.35,.61,.96);
}
#menu_burger.opened {
    right:0;
}
#menu_burger ul li {
    padding: 1rem;
}
#menu_burger ul li a {
    color:#fff;
    font-size: 1.4rem;
    text-decoration:none;
}
#closer {
    position: absolute;
    top:1rem;right:1rem;

}
#menu_burger svg{
    width:40px;
}
#menu_burger svg path{
    fill: #fff;
}

/* dropdown */
#dropdown {
    width:300px;
    position: relative;
}
#dropdown a.btn_dropdown{
    background-color: #4f805d;
    color:#fff;
    display:block;
    font-weight: bold;
    padding: 1rem; text-align: center;
    text-transform: uppercase;
    text-decoration: none;
}
#dropdown ul {
    position: absolute;
    top :50px;left:0;right:0;
    background-color: #fff;
    color: #17c2a4;
    z-index: 11;
    display:none;
}
#dropdown ul.opened {
    display:block;
}


#dropdown ul li a {
    font-weight: bold;
    padding: 1rem; text-align: center;
    text-transform: uppercase;
    text-decoration: none;display:block;
}
#dropdown ul li a:hover {
    background-color: #4f805d;
    color:#fff;
}


/*  flexslider */
.flexslider {
    border: none;
}
.mobile {display: none;}
@media screen and (max-width: 750px) {
    .desk {display: none;}
    .mobile {display: block;}
    #menu_burger {
        display: block;
    }
}